/*RESOURCESPACE STYLE OVERWRITES - HEADER AND FOOTER ON ALL PAGES*/
/*Styling for legend */
.leaflet-left .leaflet-control {
  background:white;
  border: 2px solid #CCCCCC;
  color: #737373;
  font-family: sans-serif
}

#legendTitle {
  font-size:20px;
  font-weight:bold;
  letter-spacing:2px;
  margin:8px;
  text-transform:uppercase
}

#legendCircle1 {
  background: #77C5D5;
  width:14px;
  height:14px;
  border-radius:7px/7px;
  display:inline-block
}

#legendCircle2 {
  background: #0B5818;
  width:10px;
  height:10px;
  border-radius:5px/5px;
  display:inline-block
}

/* styling for the toggle switch */
.layerText {
          word-wrap:break-word;
          word-break:break-word;
          width:50px;
          line-height:12px;
          position:relative;
          display: inline-block;
          vertical-align: middle;
          font-weight: bold;
          font-family: pragmatica, sans-serif;
        }
          .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        }

      .switch input {display:none;}

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #2196F3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }




.HorizontalWhiteNav li, .HorizontalNav li {
   border-left: none;
   padding-left: 30px;
}

/* background color of nav bar */
#Header {
  background: rgb(247, 245, 240) !important;
  height: 70px;
}

@media(max-width:1200px) {
  #Header {
    height: 70px !important;
  }
  #HeaderButtons {
    display: none !important;
  }
  #HeaderNav1 {
    display:block;
    clear:none;
  }
  #HeaderNav2 {
    display:block;
    margin-top:-5px;
  }
  #HeaderImg {
    height:47px;
  }
  #Header .HorizontalNav ul li a {
    color: inherit;
    display: inline-block;
    text-align: center;
    background: none;
    border: 0;
    height:70px !important;
    line-height: 1em;
    min-width: initial;
    padding: 0 5px;
    margin-bottom: 0;
  }
  .HorizontalNav ul {
    padding: 0em 0;
  }
  #Header.slimheader_darken a:link, #Header.slimheader_darken a:visited, #Header.slimheader_darken a:active {
    color: #E1E8F0;
  }
}

@media(max-width:1100px) {
  #Header {
    min-height: 47px;
  }
  #HeaderButtons {
    display: none !important;
  }
  #HeaderNav1 {
    display:none !important;
    clear:both;
  }
  #HeaderNav2 {
    display:none !important;
  }
  #Header .HorizontalNav ul li a {
    color: #4E4646;
    display:inline-block;
    text-align: center;
    background: #d2d2d2;
    border: 1px solid white;
    height: 45px;
    line-height: 45px;
    min-width:95px;
    padding:0 5px;
    border-radius:6px;
    margin-bottom:5px;
  }
  #Header.slimheader_darken a:link, #Header.slimheader_darken a:visited, #Header.slimheader_darken a:active {
    color: #565656;
  }
}
@media(max-width:575px) {
  #HeaderImg {
    height:auto;
    max-height:47px;
  }
}
@media(min-width:1101px) {
  #HeaderNav1, #HeaderNav2  {
    display:block !important;
  }
}

/* Monument Lab logo text */
#TextHeader a:link,
#TextHeader a:visited {
    color: rgb(82,73,71);
    font-family: pragmatica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    left: 50px;
    letter-spacing: 4px;
    margin-right: 100px;
    top: 10px;
}

/* Login and nav bar */
#HeaderNav1, #HeaderNav2 {
  float: right;
}

/* Login button */
#HeaderNav1 a:link,
#HeaderNav1 a:visited {
    color: rgb(82,73,71);
    font-family: pragmatica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 4px;
    opacity: 1;
}

/* rest of nav bar */
#HeaderNav2 a:link,
#HeaderNav2 a:visited {
    color: rgb(82,73,71);
    font-family: pragmatica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 4px;
    opacity: 1;
}

/* nav bar hovering */
#HeaderNav2 a:hover,
#HeaderNav2 .current {
  opacity:0.5;
  text-decoration: none
}

#HeaderNav2 .current {
  color: rgb(255, 106, 57) !important;
  opacity: 1;
  text-decoration: none;
}

/* leaflet_rs submissions dropdown on nav bar */
#submissionsButton {
    color: rgb(82,73,71);
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    text-transform: uppercase;
    font-family: pragmatica, sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 0px;
    opacity: 1;
    float: right;
}

#submissions_dropdown {
    display: none;
    letter-spacing: 2px;
    text-transform: lowercase;
    font-size: 13px;
    letter-spacing: 1px;
    position: relative;
    background-color: white;
    color: gray;
    width: 25%;
    float: right;
    z-index: 100;
    border: 1px solid #737373;
}

.dropdown_option {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height: 150%;
}

.HeaderMid {
  color: rgb(82,73,71);
}


/*EDIT ICONS RESOURCESPACE STYLE OVERWRITES*/
/* pencil icons */
#ResourceToolsContainer i.fa.fa-pencil {color: #fbaf3f; font-size: 50px;}
/*.ResourcePanelIcons a:link[title="Edit resource"],
.ResourcePanelIcons a:visited[title="Edit resource"]{color: #fbaf3f; font-size: 35px;}
/* add/edit location label */

/* Hide icons */
.ResourcePanelIcons {display: none !important;}

#GeolocationData i.fa.fa-caret-right {color: #fbaf3f; font-size: 30px;}
#GeolocationData a:link,
#GeolocationData a:visited {color: #fbab3f; font-size: 30px; font-weight: bold;}

/* HOME PAGE */
/* resourcespace style overwrites */
/* keep search box on top bar for all common screen sizes */
@media(max-width:8000px) {
    .ResponsiveSimpleSearch {text-align: left; display: inline-block; margin: 10px;}
    #SearchBox {float:none; display:inline-block; width:100%; margin:0;}
    #searchbutton, #ssearchbox {margin:0;}
    #SearchBoxPanel {width: auto; text-align: center;}
    #SearchBoxPanel .SearchItem, #SearchBoxPanel .ui-widget {display:inline-block; margin:0;}
    #searchspace {padding: 0;}
    #Rssearchexpand {border: none; width: 0px; height:0px;}
    /*#Rssearchexpand {width:122px;}*/
    .ResponsiveSimpleSearch .searchbutton {display: inline-block; margin: 5px !important; height: 35px; width: 85px;}
    .ResponsiveSimpleSearch .tick {display:inline-block; margin-top:3px;}
    .ResponsiveSimpleSearch #ssearchbox {display: inline-block; margin: 5px; height: 25px; padding:3px; border-radius: 5px; line-height:1em; font-size:1em;}
    #CentralSpaceContainer {padding:0;}
    #SearchBarContainer br {display:none;}
    #SearchBarContainer a {font-size:1em;}
    .ResponsiveSimpleSearch p {margin: 10px 0;}
    .ResponsiveSimpleSearch .StarRatings {text-align: center; display: inline-block; width: 130px;}
    /* Show Responsive Bar */
    #SearchBoxPanel input, #SearchBoxPanel label, #SearchBoxPanel h2, #SearchBoxPanel .SearchItem, #SearchBoxPanel .StarRatings, #SearchBoxPanel #searchbarrt, #SearchBoxPanel p {display:none;}
    #SearchBoxPanel #ssearchbox, #SearchBoxPanel #simplesearchbuttons, #SearchBoxPanel #searchbutton, #SearchBoxPanel #Rssearchexpand {display:inline-block!important;}
    /* Show Full Bar when clicked */
    #SearchBoxPanel .ResponsiveSimpleSearch h2, #SearchBoxPanel .ResponsiveSimpleSearch .SearchItem, #SearchBoxPanel .ResponsiveSimpleSearch #searchbarrt {display:block;}
    #SearchBoxPanel .ResponsiveSimpleSearch input, #SearchBoxPanel .ResponsiveSimpleSearch label, #SearchBoxPanel .ResponsiveSimpleSearch .StarRatings, #SearchBoxPanel .ResponsiveSimpleSearch p{display:inline-block;}
    /* LoginBoxPanel*/
    #SearchBoxPanel.LoginBoxPanel input, #SearchBoxPanel.LoginBoxPanel .SearchItem, #SearchBoxPanel.LoginBoxPanel p {display:inline-block;}
    #SearchBoxPanel.LoginBoxPanel input {margin-left:15px;}
    .LoginBoxPanel {margin-top:8px;}
}

#SearchBarContainer {margin-top: 0px;  background-color: #FFFFFF;}
.SearchSpace {background-color: #FFFFFF;}
.HomePicturePanel {margin:0px 0px 0px 0px;float: left;width: 0px; height: 0px;}
#Rssearchexpand {display:none!important; border:none; width:0px; padding:0px;}
#ssearchbox {border: 1px solid #555; border-radius: 5px;}

#searchbutton {
    background-color: #3D3935;
    color: #FFF;
    border: 2px solid #FFF;
    font-family: pragmatica, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 250px;
    border-radius: 5px;
    text-align: center;
    opacity: 0.6;
}

#searchbutton:hover {
    background-color: #3D3935;
    border: 2px solid #3D3935;
    opacity: 1;
}

/*leaflet_rs styles*/
#home_leaflet_rs_container {height: 100%; padding-bottom: 100px;}
#map_container {padding-bottom: 30px; width: 90vw;}

#leaflet_rs_map {
    box-sizing: border-box;
    height: 90vh;
    min-height: 500px;
    max-height: calc(90vh - 200px);
    width: 90vw;
    max-width: 1000px;
    border: solid rgb(255, 106, 57);
    border-width: 5px;
}

.marker-cluster-small {
	background-color: #77C5D5;
	}
.marker-cluster-small div {
	background-color: #77C5D5;
	}

.marker-cluster-medium {
	background-color: #77C5D5;
	}
.marker-cluster-medium div {
	background-color: #77C5D5;
	}

.marker-cluster-large {
	background-color: #77C5D5;
	}
.marker-cluster-large div {
	background-color: #77C5D5;
}


#showAll {
    background-color: #FFFFFF;
    color: #737373;
    border: 2px solid #CCCCCC;
    font-family: pragmatica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

#selector_container {margin-bottom: 20px;}

.selector {
    font-size: 18px;
    font-family: pragmatica, sans-serif;
    letter-spacing: 1px;
    border: 2px solid #ff6a39;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 6px;
    color: #737373;
}

.leaflet-popup-content-wrapper {background-color: #2e3c43; color: white; font-family: pragmatica, sans-serif;}
.leaflet-popup-tip {background-color: #2e3c43;}

.social_icon {
    vertical-align: middle;
    width:29px;
    height:29px;
    margin-top: 24px;
    margin-right: 18px;
    margin-bottom: 12px;
}

#footerBar {
    bottom: 0;
    width: 100%;
    height:100px;
    margin-top: 30px;
}

.footertext > a {
    color: #ffffff;
    text-align: right;
  }

.footertext {
    font-family: pragmatica, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #ffffff;
    text-align: right;
    font-size: 12pt;
    padding: 10px 20px 0px 0px;
  }

#pricetext {
  font-family: pragmatica, sans-serif;
  font-style: normal;
  font-weight: 200;
  color: #ffffff;
  padding-left: 20px;
  font-size: 12pt;
  position: relative;
  bottom: -25px;
}

#pricetext > a {
  color:#ffffff;
}

#footerdiv {
    background-color: #FF6A39;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

.logo {
    display: inline-block;
    margin-left: 30px;
    height: auto;
    vertical-align: middle;
}

.return_link {
    float: left;
    padding: 15px 0px 0px 10px;
}

/*DIRECT VIEW PAGE - leaflet_rs styles*/
#direct_view_page {background-color: #FFFFFF;}
#navbar {
  background-color: rgb(247, 245, 240)
}

.error_message {
  padding: 30px;
}

/* view map button */
#home_button {
    text-decoration: none;
    background-color: rgb(247, 245, 240);
    color: rgb(82,73,71);
    font-family: pragmatica, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}

#title {
    font-family: harfang-pro, serif;
    font-weight: 200;
    color: rgb(82,73,71);
    position: relative;
    padding-top: 1px;
}

#titleWrapper{
  margin-top: 30px;
}

#parent_container {
  display: flex;
}

#metadata_container {
    box-sizing: content-box;
    font-size: 20px;
    font-family: harfang-pro, serif;
    color: #2e3c43;
    letter-spacing: 1px;
    width: 25%;
    margin-left: 5%;
    margin-top: 5%;
}

.metadata_label {
  margin-top: 20px;
  font-family: harfang-pro, serif;
  font-style: normal;
}

#social_metadata:link,
#social_metadata:visited {
  color: rgb(255, 106, 57);
  text-decoration: none;
  opacity: 0.8;
}

#social_metadata:hover,
#social_metadata:active {
  color: rgb(255, 106, 57);
  text-decoration: none;
  opacity: 1;
}

#transcriptButton {
  color: #2e3c43;
  border-color: #86D2DA;
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  text-transform: uppercase;
  font-family: pragmatica, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 10px;
}

#transcription {
  color: #2e3c43;
  font-family: harfang-pro, serif;
  font-size: 16px;
  letter-spacing: 0px;
}


#proposal_img_container {
  box-sizing: border-box;
  width: 70%;
}

#proposal_img {
  cursor: pointer;
  border: solid rgb(255, 106, 57);
  border-width: 5px;
  width: 70%;
  /*min-width: 398px;*/
}

#sharebuttons_container {
  box-sizing: border-box;
}

.twitter-share-button{
  margin-bottom: 10px;
}

@media(max-width: 600px) {
  #parent_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #proposal_img_container {
    order: 1;
  }

  #proposal_img {
    margin-left: 15%;
  }

  #metadata_container {
    order: 2;
  }

  .metadata_label,
  #transcriptButton,
  #transcription {
    margin-left: 32.5%;
    font-family: harfang-pro, serif;
  }

  #sharebuttons_container {
    order: 3;
  }
}

/* SEARCH PAGE - disable image link */
.ResourceAlign {
   pointer-events: none;
   cursor: default;
}
