/*RESOURCESPACE STYLE OVERWRITES - HEADER AND FOOTER ON ALL PAGES*/

#TextHeader a:link,
#TextHeader a:visited {
    color: #4b4ba0;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: 7px;
    left: 5px;
    letter-spacing: 4px;
    }

#HeaderNav1 a:link,
#HeaderNav1 a:visited {
    color: #4b4ba0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    }

#HeaderNav1 a:hover,
#HeaderNav1 a:active {
    color: #4b4ba0;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    }


#HeaderNav2 a:link,
#HeaderNav2 a:visited {
    color: #4b4ba0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    }

#HeaderNav2 a:hover,
#HeaderNav2 a:active {
    text-transform: uppercase;
    color: #4b4ba0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    }

#Footer {clear: both; margin:20px 20px 20px 20px;padding:0;text-align:left;}
#FooterNavRight {float:right;text-align:right;margin-top: 10px;clear: right;}
#FooterNavRightBottom {float:right;text-align:right;margin-top: 10px;clear: right;}
#FooterNavLeft {float:left;text-align:left;margin-top: 10px;}
#FooterLanguages {margin-left:15px;}

/*EDIT ICONS RESOURCESPACE STYLE OVERWRITES*/

#ResourceToolsContainer i.fa.fa-pencil {color: #fbaf3f; font-size: 50px;}

.ResourcePanelIcons a:link[title="Edit resource"],
.ResourcePanelIcons a:visited[title="Edit resource"]{color: #fbaf3f; font-size: 35px;}

#GeolocationData i.fa.fa-caret-right {color: #fbaf3f; font-size: 30px;}
#GeolocationData a:link,
#GeolocationData a:visited {color: #fbab3f; font-size: 30px; font-weight: bold;}

/*HOME PAGE*/
/*resourcespace style overwrites*/
#searchspace {background-color: #4b4ab0;}
.HomePicturePanel {margin:0px 0px 0px 0px;float: left;width: 0px; height: 0px;}

/*leaflet_rs styles*/
#leaflet_rs_map {
    box-sizing: border-box;
    height: 600px;
    width: 100vw;
    max-width: 1000px;
    border: solid #4b4ba0;
    border-left-width: 5px;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    }

#showAll {
    background-color: #CCCCCC;
    color: #555;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    }

.selector {
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 1px;
    border: 2px solid #CCCCCC;
    background-color: #FFFFFF;
    font-weight: bold;
    color: #737373;
    }

.leaflet-popup-content-wrapper {background-color: #2e3c43; color: white; font-family: sans-serif;}
.leaflet-popup-tip {background-color: #2e3c43;}

.social_icon {
    vertical-align: middle;
    width:29px;
    height:29px;
    margin-top: 24px;
    margin-right: 18px;
    margin-bottom: 12px;
    }

/*DIRECT VIEW PAGE - leaflet_rs styles*/

#direct_view_page {background-color: #FFFFFF;}

#navbar {background-color: #fbaf3f}

#home_button {
    text-decoration: none;
    background-color: #fbaf3f;
    color: #4b4ba0;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    }

#title {
    font-family: sans-serif;
    font-weight: bold;
    color: #2e3c43;
    letter-spacing: .5px;
    padding-top: 1px;
    }

#metadata_container {
    box-sizing: border-box;
    font-size: 24px;
    font-family: sans-serif;
    color: #2e3c43;
    letter-spacing: 1px;
    }

.metadata_label {font-weight:bold; text-transform: uppercase; margin-top: 24px; margin-bottom: 0px;}
.metadata {margin-top: 0px;}

#social_metadata:link,
#social_metadata:visited {color: #4b4ba0; text-decoration: none; margin-top: 0px;}
#social_metadata:hover,
#social_metadata:active {color: #0000EE; text-decoration: none;}


#proposal_img_container {box-sizing: border-box;}
#proposal_img {border: solid #4b4ba0; border-width: 5px;}
